.effectivity {
  display: none;
  background-color: #ffffff;
  padding: 59px 0 45px 0;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
    padding: 0 0 116px 0;
  }
}

.effctivity__text {
  margin: 8px 0 0 129px;

  @media (min-width: @desktop-width) {
    margin: 10px 0 0 0;
    width: 545px;
  }
}

.effctivity__text--title {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 0;
  width: 170px;

  @media (min-width: @desktop-width) {
    width: auto;
    margin-bottom: 20px;
  }
}

.effctivity__text--info {
  font-size: 14px;
  line-height: 24px;
  width: 300px;
  margin-top: 0;
  color: #283645;

  @media (min-width: @desktop-width) {
    display: block;
    width: 526px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 35px;
  }
}

.effctivity__text--link {
  font-size: 18px;
  color: #d22856;
}
