.effectivity {
  display: none;
  background-color: #ffffff;
  padding: 59px 0 45px 0;

  @media (min-width: @tablet-width) {
    display: block;
    padding: 56px 0 45px 15px;
  }

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;

    padding: 70px 0 63px 0;
  }
}

.effectivity__content-wrapper {
  display: flex;
}

.effectivity__timer {
  position: relative;
  margin-left: 0;
  margin-right: 69px;
  flex-shrink: 0;

  &::before {
    content: "24";
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: 78px;
    left: 50%;
    font-size: 96px;
    font-weight: 700;
    line-height: 149.47px;
    transform: translateX(-50%);
    color: #d22856;
  }

  @media (min-width: @desktop-width) {
    margin-right: 67px;

    &::before {
      top: 95px;
      font-size: 120px;
      line-height: 186.84px;
    }
  }
}

.effectivity__timer-icon {
  width: 239px;
  height: 277px;

  @media (min-width: @desktop-width) {
    height: 345px;
    width: 299px;
  }
}

.effectivity__text {
  @media (min-width: @tablet-width) {
    margin-top: 8px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 83px;
    width: 545px;
  }
}

.effectivity__text-title {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 10px;
  width: 170px;

  @media (min-width: @tablet-width) {
    margin-bottom: 7px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.effectivity__text-info {
  font-size: 14px;
  line-height: 24px;
  width: 300px;
  margin-top: 0;
  color: #283645;

  @media (min-width: @tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    width: 526px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 35px;
  }
}

.effectivity__text-link {
  font-size: 18px;
  color: #d22856;

  @media (min-width: @tablet-width) {
    font-size: 14px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}
