.form-contacts {
  padding: 10px 20px 42px 20px;
}

.form-contacts__label {
  text-align: left;
  color: #d22856;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 0;
  padding-left: 22px;
}

.form-contacts__label-title {
  display: block;
  margin-bottom: 11px;
  padding-top: 0;
  padding-left: 22px;
}

.form-contacts__input {
  display: block;
  border: 2px solid #e5e5e5;
  font-size: 18px;
  width: 92%;
  padding: 19px 0 19px 20px;

  &::placeholder {
    color: #283645;
  }
}
