.form-contacts {
	padding: 30px 20px 20px 20px;
}

.form-contacts__label {
	text-align: left;
	color: #d22856;
	font-size: 14px;
	text-transform: uppercase;
	padding-left: 22px;	     
}

.form-contacts__input {
	display: block;
	border: 2px solid #e5e5e5;	
	font-size: 18px;
	width: 92%;
	margin-top: 11px;
	margin-bottom: 20px;	
	padding: 19px 0 19px 20px;
}