.form-comment {
  position: relative;
  padding: 35px 26px 45px 20px;
  order: 5;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    border: 2px solid #e5e5e5;
    margin-bottom: 66px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.form-comment__title {
  display: block;
  text-align: center;
  color: #d22856;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 5px;

  @media (min-width: @tablet-width) {
    position: absolute;
    display: block;
    padding: 0 20px 0 20px;
    top: -10px;
    left: 190px;
    background-color: white;
  }

  @media (min-width: @desktop-width) {
    left: 350px;
  }
}

.form-comment__textarea {
  width: 93%;
  max-height: 200px;
  border: 2px solid #e5e5e5;
  resize: none;
  font-size: 18px;
  line-height: 30px;
  color: rgb(40, 54, 69);
  font-family: "OpenSans", "Arial", sans-serif;
  padding-left: 19px;
  padding-top: 15px;
  padding-bottom: 122px;
  overflow: hidden;

  &::placeholder {
    color: #283645;
  }
}

.form__add {
  text-align: center;
  color: #d22856;
}

.form__add--text {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(40, 54, 69);
  font-weight: 300;
}
