.form-apps {
	padding-top: 37px;
	background-color: #f2f2f2;
}

.form-apps__title {
	text-align: center;
	color: #d22856;
	font-size: 14px;
	text-transform: uppercase;
	padding: 0 20px 0 20px;
	margin-top: 0;
	margin-bottom: 40px;
}

.form-apps__wrapper {
	display: flex;
	flex-direction: column;
	padding-bottom: 45px;
}

.form-apps__label {
	font-size: 18px;
	line-height: 30px;
	color: #283645;
	padding-bottom: 45px;
	padding-left: 68px;
}

.form-apps__label:last-child {
	padding-bottom: 0;
}