.form {
  margin-bottom: 40px;
}

.form__title {
  text-align: center;
  color: #283645;
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 30px;
  font-weight: 300;
  font-size: 14px;
  padding: 33px 20px 0 20px;
  margin-bottom: 16px;
}

.form__submit {
  display: block;
  margin-left: 20px;
  background: #2aab6d;
  color: #ffffff;
  width: 280px;
  height: 63px;
  font-size: 18px;
  font-family: "OpenSansBold", "Arial", sans-serif;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  margin-bottom: 40px;
}
