.header {
  position: relative;
  background-color: #1d2631;
  color: #ffffff;
}

.header__top-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.3);

  @media (min-width: @tablet-width) {
    height: 110px;
  }

  &--nojs {
    margin-bottom: 251px;

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }
}

.header__top-menu--overlap {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.header__top-menu--opened,
.header__top-menu--nojs {
  position: relative;
  display: block;
  background-color: rgb(40, 54, 69);
  flex-direction: column;
  z-index: 2;

  @media (min-width: @desktop-width) {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.header__menu-toggle {
  position: relative;
  display: block;
  background-color: transparent;
  border: none;
  margin: 20px 20px 0 auto;
  height: 25px;
  width: 50px;
  outline: none;

  @media (min-width: @tablet-width) {
    margin: 44px 20px 0 auto;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    left: 0;
    top: 0;

    background-color: #ffffff;
    box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
  }

  &:hover::before {
    background-color: rgb(210, 40, 86);
    box-shadow: 0 10px 0 0 rgb(210, 40, 86), 0 20px 0 0 rgb(210, 40, 86);
  }

  &:active::before {
    background-color: rgba(210, 40, 86, 0.7);
    box-shadow: 0 10px 0 0 rgba(210, 40, 86, 0.7), 0 20px 0 0 rgba(210, 40, 86, 0.7);
  }
}

.header__menu-toggle--opened {
  position: relative;
  margin-right: 7px;
  z-index: 2;

  @media (min-width: @tablet-width) {
    margin-right: -18px;
    margin-top: 53px;
  }

  &::before {
    z-index: 2;
    content: "";
    position: absolute;
    top: 10px;
    left: 7px;
    width: 30px;
    height: 5px;
    transform: rotate(45deg);
    background-color: #ffffff;
    box-shadow: none;

    @media (min-width: @tablet-width) {
      top: 0;
      left: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 7px;
    width: 30px;
    height: 5px;
    transform: rotate(-45deg);
    background-color: #ffffff;

    @media (min-width: @tablet-width) {
      top: 0;
      left: 0;
    }
  }

  &:hover::before,
  &:hover::after {
    background-color: rgb(210, 40, 86);
    box-shadow: none;
  }

  &:active::before,
  &:active::after {
    box-shadow: none;
    background-color: rgba(210, 40, 86, 0.7);
  }
}

.header__menu-toggle--nojs {
  display: none;
}

.header__main-background {
  display: flex;
  flex-direction: column;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  height: 733px;
  background-size: 100% 462px;
  overflow: hidden;

  @media (min-resolution: @retina-dppx) {
    background: url("../img/bg-back-mobile@2x.jpg") no-repeat;
    background-size: 100% 462px;
  }

  @media (min-width: @tablet-width) {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat 49% 0;
    height: 730px;

    @media (min-resolution: @retina-dppx) {
      background: url("../img/bg-back-tablet@2x.jpg") no-repeat 49% 0;
      background-size: 185% 730px;
    }
  }

  @media (min-width: @desktop-width) {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat 50% 0;
    height: 853px;

    @media (min-resolution: @retina-dppx) {
      background: url("../img/bg-back-desktop@2x.jpg") no-repeat 50% 10px;
      background-size: 215% 853px;
    }
  }
}

.header__content-wrapper--index {
  position: relative;
  height: 100%;

  &::after {
    position: absolute;
    content: "";
    width: 257px;
    height: 290px;
    background: url("../img/iphone-hand-mobile@1x.png") no-repeat;
    background-position: bottom;
    bottom: 272px;
    right: 68px;

    @media (min-resolution: @retina-dppx) {
      background: url("../img/iphone-hand-mobile@2x.png") no-repeat;
      background-size: 100%;
      background-position: bottom;
    }

    @media (min-width: @tablet-width) {
      background: url("../img/iphone-hand-tablet@1x.png") no-repeat;
      background-size: 100%;
      background-position: bottom;
      width: 700px;
      height: 100%;
      bottom: 0;
      left: -33px;

      @media (min-resolution: @retina-dppx) {
        background: url("../img/iphone-hand-tablet@2x.png") no-repeat;
        background-size: 100%;
        background-position: bottom;
      }
    }

    @media (min-width: @desktop-width) {
      background: url("../img/iphone-hand-desktop@1x.png") no-repeat 90% 100%;
      width: 685px;
      height: 700px;
      left: 344px;

      @media (min-resolution: @retina-dppx) {
        background: url("../img/iphone-hand-desktop@2x.png") no-repeat 90% 100%;
        background-size: 153%;
      }
    }
  }
}

.header__photo-background {
  display: flex;
  flex-direction: column;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 0 2%;
  height: 237px;
  background-size: 100%;

  @media (min-resolution: @retina-dppx) {
    background: url("../img/bg-back-mobile@2x.jpg") no-repeat 0 2%;
    background-size: 100%;
  }

  @media (min-width: @tablet-width) {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 0;
    height: 440px;

    @media (min-resolution: @retina-dppx) {
      background: url("../img/bg-back-tablet@2x.jpg") no-repeat 50% -1%;
      background-size: 185%;
    }
  }

  @media (min-width: @desktop-width) {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat 50% 0;
    height: 394px;

    @media (min-resolution: @retina-dppx) {
      background: url("../img/bg-back-desktop@2x.jpg") no-repeat 50% -3%;
      background-size: 213%;
    }
  }
}

.header__slogan {
  display: block;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  font-weight: 300;
  width: 230px;
  line-height: 30px;
  padding-top: 88px;
  margin: 0 auto 0 auto;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    width: 225px;
    padding: 0;
    margin: 203px auto 0 44px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 60px;
    width: 245px;
    margin-top: 217px;
    margin-left: 28px;
  }

  &--photo {
    font-size: 24px;
    line-height: 30px;
    width: 235px;
    padding: 0;
    margin-top: 96px;

    @media (min-width: @tablet-width) {
      font-size: 50px;
      line-height: 60px;
      width: 360px;
      padding: 0;
      margin: 180px auto 0 auto;
    }

    @media (min-width: @desktop-width) {
      margin: 174px auto 0;
    }
  }

  &--form {
    margin-top: 9px;
    line-height: 29px;

    @media (min-width: @tablet-width) {
      font-size: 50px;
      line-height: 60px;
      width: 485px;
      margin: 180px auto 0;
    }

    @media (min-width: @desktop-width) {
      margin-top: 173px;
      width: 755px;
    }
  }
}
