.header-apps {
	padding-top: 26px;
	padding-bottom: 14px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}

.header__apps-icon {
	padding-top: 31px;
}

.header__apps-info {
	text-align: center;
	font-family: "OpenSansLight", Arial, sans-serif;
	padding-top: 4px;
	padding-left: 45px;
	padding-right: 45px;
	font-size: 14px;
	line-height: 25px;
}

.header__apps-icon-item {
	padding: 16px;
}

.header-apps__button {
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-family: "OpenSansBold", Arial, sans-serif;
	border: 3px solid #fff;
	padding: 12px 37px;
	border-radius: 27px;
	text-decoration: none;
}