.header {
	display: flex;
	flex-direction: column;	
	width: 320px;
	background-color: #1d2631;
	color: #fff;		
}

.header__main-background {
	display: flex;
	flex-direction: column;
	background: url(../img/iphone-hand-mobile@1x.png) no-repeat 0 175px,  url(../img/bg-back-mobile@1x.jpg) no-repeat 50% 0;
	height: 463px;
	width: 320px;
	margin: 0 auto;
}

.header__photo-background {
	display: flex;
	flex-direction: column;
	background: url(../img/bg-back-mobile@1x.jpg) no-repeat 50% 0;
	height: 237px;
	width: 320px;
	margin: 0 auto;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	height: 66px;
	background-color: #1d2631;
	width: 320px;
	opacity: 0.7;
	
}

.site-logo {
	font-size: 24px;
	font-family: "Myriad pro", sans-serif;
	padding-bottom: 21px;
	text-decoration: none;
	color: #fff;
	
}

.header-apps {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	width: 320px;
}

.header-apps__button {
    margin-top: 28px;

	color: #fff;
	font-size: 14px;
	border: 3px solid #fff;
	padding: 17px 37px;
	border-radius: 25px;
	text-decoration: none;
}

.header__apps-icon {
	display: block;	
	margin-top: 32px;
}

.header__apps-icon-item {
	padding: 10px;
}

.header__info {	
	font-family: "Open sans", sans-serif;
	margin-top: 30px;
	width: 240px;
	font-size: 13px;
}

.header__slogan {
	text-align: center;
	font-size: 18px;
	font-family: "Open sans", sans-serif;
}

