.photos {
	margin: 0;
}

.photos__title {
	font-size: 14px;
	font-weight: 300;
	line-height: 30px;
	color: #283645;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 49px;
	text-align: center;
	margin: 0;
}

.photos__image {
	margin: 0;
	padding-left: 20px;
}

.photos__wrapper {
	background-color: #f2f2f2;
	color: #283645;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 0;
	padding-top: 10px;
	padding-left: 18px;
	padding-right: 10px;
	padding-bottom: 20px;
	font-size: 14px;
	line-height: 24px;
}

.photos__comment {
	padding-bottom: 11px;
}

.photos__time {
	font-family: "OpenSansLight", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 12px;
}

.photos__name {
	font-family: "OpenSansBold", Arial, sans-serif;
}

.photos__image-wide {
	width: 100%;
	padding-left: 0;
}

.photos__like-action {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
	color: #d22856;
	padding-left: 14px;
}

.photos__like-counter {
	color: #d22856;
	font-size: 11px;
}