.rates {
  padding-top: 64px;
  padding-bottom: 39px;
  background-color: #f2f2f2;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    width: 100%;    
    padding: 36px 0 68px 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 65px;
    padding-bottom: 96px;
  }
}
