.site-logo {
  padding-top: 24px;
  margin-left: 14px;

  @media (min-width: @tablet-width) {
    margin: 0 0 0 11%
  }

  @media (min-width: @desktop-width) {
    padding-top: 27px;
    margin: 0;  
  }

  &--index-header {
    padding-left: 10px;
    margin-right: 120px;
  }

  &--mobile {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &--tablet {
    display: none;
  
    @media (min-width: @tablet-width) {
      display: block;
      padding-top: 14px;
    }
  
    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;
  
    @media (min-width: @desktop-width) {
      display: block;
    }
  }
}
